

:root {
    --site-background: #ececec;
    --primary-blue: #003366;
    --primary-yellow: #ffcc00;
    --secondary-blue-1: #0066cc;
    --secondary-blue-2: #0099cc;
    --secondary-blue-3: #99ccff;
    --secondary-yellow-1: #cc9900;
    --secondary-yellow-2: #ffcc66;
    --secondary-yellow-3: #ffcc99;
}

@media only screen and (min-width: 769px) {
    .wy-body-for-nav {
        /* Center the page on wide displays for better readability */
        max-width: 1100px;
        margin: 0 auto;
    }
    .wy-nav-side {
        /* Required to center the page on wide displays */
        left: inherit;
    }
}

/* override table no-wrap */
.wy-table-responsive table td, .wy-table-responsive table th {
    white-space: pre;
}

.wy-body-for-nav,
.wy-nav-content-wrap {
    background-color: var(--site-background);
}

.wy-side-nav-search{
    background-color: var(--primary-blue);
}

.wy-side-nav-search input[type="text"] {
    border-color:transparent;
}
